body {
  margin: 0;
  line-height: normal;
  overflow-x: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-black: #000;

  /* Paddings */
  --padding-3xs: 10px;
}